
.edu-nsw-act-cursive-<uniquifier> {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body{
    color: white;
    background-color: black;
    margin: 0;

}

header {
border-bottom: solid 2px rgb(42, 122, 228);
padding: 20px;
font-size: 32px;
color: rgb(42, 122, 228);
}

section {
    background: rgb(184, 156, 213);
padding-bottom: 80px;
padding-top: 80px;
 display: flex;
 justify-content: center;
}
.chamada-texto {
 margin-right: 5%; 
 font-family: "Edu NSW ACT Cursive", cursive;
 
}

h1{
    font-size: 25px;
}

.categoria-videos{
display:flex;
overflow-x: auto;
gap: 10px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 160px;

}

.categoria-videos img:hover{
    opacity: 1.0;
    border: solid 4px; color: rgb(156, 238, 178);
}